<ul class="nav navbar-nav">
	<li class="dd">
		@Html.ActionLink("Products", "Products", "ProductPage")
		<div class="dc">
			<p>@Html.ActionLink("Colors", "ColorView", "Color")</p>
			<p>@Html.ActionLink("Sizes", "SizeView", "Size")</p>
		</div>
	</li>
	<li>@Html.ActionLink("Orders", "OrdersView", "Orders")</li>
</ul>
<div style="float:right">
	<ul class="nav navbar-nav">
		<li>
			@Html.ActionLink("Log out", "LoginPageView", "LoginPage")
		</li>
	</ul>
</div>

