
@{
    ViewBag.Title = "LoginLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Content Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<link href="~/Content/kendo.common.min.css" rel="stylesheet" />
	<link href="~/Content/kendo.default.min.css" rel="stylesheet" />
	<link href="~/Content/kendo.default.mobile.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top"   >
            <div class="navbar-collapse collapse">
                @Html.Partial("_PartialLoginU")
            </div>
	</div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Content Management System Team</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>