@{
	ViewBag.Title = "forgotPassword";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CMS.ViewModel.Uservm
<div class="wrapper">
	<div class="content">
		@using (Html.BeginForm("forgotPassword", "fpPage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()
			<div class="form_wrapper">
				<h3>Forgot Password</h3>
				<div>
					<label>@Html.Label("LoginID: ")</label>
					@Html.TextBoxFor(model => model.LoginID)
					@Html.ValidationMessageFor(model => model.LoginID, "", new { @style = "color:#cc0000;" })
				</div>
				<div>
					<label>@Html.Label("New Password:")</label>
					@Html.PasswordFor(m => m.LoginPwd)
				</div>
				<div>
					@Html.ValidationMessageFor(m => m.LoginPwd, "", new { @style = "color:#cc0000;" })
				</div>
				<div>
					<label>@Html.Label("Repeat Password:")</label>
					@Html.PasswordFor(m => m.LoginPwd2)
					@Html.ValidationMessageFor(m => m.LoginPwd2,"",new { @style = "color:#cc0000;" })
				</div>
				<div class="bottom"> 
					<input type="submit" class="btn btn-group" value="Save" />
					@Html.ActionLink("Back to login","LoginPageView","LoginPage")
					<div class="clear"></div>
				</div>
			</div>
		}
		</div>
	</div>
